apyori==1.1.2
argon2-cffi==19.2.0
asgiref==3.2.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
Django==3.0.12
django-bootstrap3==12.0.3
django-braces==1.14.0
django-debug-toolbar==2.2
djangorestframework==3.11.0
Faker==4.0.2
gunicorn==20.0.4
idna==2.9
kiwisolver==1.2.0
matplotlib==3.2.1
misaka==2.1.1
numpy==1.18.2
pandas==1.0.3
Pillow==7.1.1
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.12.0
sqlparse==0.3.1
text-unidecode==1.3
urllib3==1.25.8
whitenoise==5.0.1
