body {
    margin: 0px 0px;
    background-image: url('../images/back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 1080px) {
    body {
        background-image: url('../images/back1080p.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (min-height: 1921px) {
    body {
        background-image: url('../images/back2340p.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}