a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 3.5vh;
    padding-left: 3vw;
}
a:hover {
    color: #cccccc;
}
.heading {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 7vh;
    margin-top: 2vh;
}
.main {
    height: 70vh;
    overflow: auto;
}
.content {
    background-color: white;
    word-wrap: break-word;
    width: 70vw;
    margin: auto auto;
    text-align: center;
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    font-family: sans-serif;
    font-size: 3vh;
}
h5 {
    margin-bottom: 1.7vh;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 36.5vw;
    font-family: sans-serif;
}
h5 a {
    padding-left: 0px;
    font-size: inherit;
    color: white;
    text-align: center;
    font-family: sans-serif;
}