a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 3.5vh;
    padding-left: 3vw;
}
a:hover {
    color: #cccccc;
}
.heading {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 7vh;
    margin-top: 2vh;
}
.main {
    height: 65vh;
    overflow: auto;
}
.content {
    background-color: white;
    word-wrap: break-word;
    width: 70vw;
    margin: auto auto;
    text-align: center;
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    font-family: sans-serif;
    font-size: 3vh;
    border-radius: 20px;
}
.footer {
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: sans-serif;
}
h5 a {
    padding-left: 0px;
    font-size: inherit;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
@media only screen and (max-width: 1081px) {
    a {
        font-size: 1.5vh;
    }
    .heading {
        font-size: 3vh;
    }
    .content {
        width: 60vw;
        font-size: 1.5vh;
    }
    .main {
        height: 70vh;
    }
}